<div class="tech-links-widget">
  <h3>Recommended Tech Channels</h3>
  <ul>
    <li><a href="https://www.youtube.com/@rossmanngroup/featured" target="_blank">Rossmann Group</a></li>
    <li><a href="https://www.youtube.com/DavidBombal" target="_blank">David Bombal</a></li>
    <li><a href="https://www.youtube.com/@LinusTechTips" target="_blank">Linus Tech Tips</a></li>
    <li><a href="https://www.youtube.com/@TheLinuxEXP" target="_blank">The Linux EXP</a></li>
    <li><a href="https://www.youtube.com/@memestechtips" target="_blank">Memes Tech Tips</a></li>
    <li><a href="https://www.youtube.com/@LAWRENCEYSYSTEMS" target="_blank">Lawrence Systems</a></li>
    <li><a href="https://www.youtube.com/@TechHut" target="_blank">TechHut</a></li>
    <li><a href="https://www.youtube.com/@NetworkChuck" target="_blank">NetworkChuck</a></li>
    <li><a href="https://www.youtube.com/@Computerphile" target="_blank">Computerphile</a></li>
    <li><a href="https://www.youtube.com/@metrabyte03" target="_blank">Metrabyte</a></li>
    <li><a href="https://www.youtube.com/@GlobalScienceNetwork" target="_blank">Global Science Network</a></li>
    <li><a href="https://www.youtube.com/@christianlempa" target="_blank">Christian Lempa</a></li>
    <li><a href="https://www.youtube.com/@_JohnHammond" target="_blank">John Hammond</a></li>
    <li><a href="https://www.computable.be/" target="_blank">Computable.be</a></li>
    <li><a href="https://www.youtube.com/@NTFAQGuy" target="_blank">John Savill</a></li>
    <li><a href="https://www.youtube.com/@JeremysITLab" target="_blank">Jeremy's IT Lab</a></li>
    <li><a href="https://www.youtube.com/@CraftComputing" target="_blank">Craft Computing</a></li>
  </ul>
</div>